{% extends 'base_admin.html' %}

{% block title %}
files
{% endblock  %}

{% block body %}
<div class=" text-center container-img p-2">
{% for x in res %}
<div class="card m-2 text-center" id="append_img">
<img class="fluid-img shadow p-2 bg-light my-2 mx-1 data_img" src="./static/data/{{request.cookies.get('userId')}}/{{x}}" alt="{{x}}">

<div class="d-flex justify-content-around align-items-center mb-2">
	
<a class="nav-link text-primary shadow" href="./static/data/{{request.cookies.get('userId')}}/{{x}}" download="true"><b class="fa fa-download"></b></a>
<a class="nav-link text-primary shadow" href="/delete/{{request.cookies.get('userId')}}/{{x}}"><b class="fa fa-remove"></b></a>

</div>
</div>
{% endfor %}
</div>
{% endblock %}