{% extends 'base.html' %}
{% block title %}
login
{% endblock  %}
{% block body %}

<div class="container text-center">
	<h3><b class="text-primary text-capitalize">{{ create_account }}</b><b class="text-danger text-capitalize"> {{ username_validate }}</b></h3>
	<div class="container-inner text-center shadow-lg">
		<h2 class="text-light">Login Domain</h2>
		<form action="/login" method="post" class="mx-auto text-center p-2 ">
			<input type="text" name="username" class="form-control" placeholder="Enter Username ..."><br>
			<input type="password" name="password" class="form-control" placeholder="password" ><br>
			<button class="btn btn-primary my-2">Login</button>
		</form>
		<b class="text-light">Create an account ?<a href="/" class="nav-link text-warning">Signup</a></b>
	</div>
</div>
{% endblock %}